:root {
  --screen-max: 1200px; /*variable*/
  --base-font: 'Montserrat', Tahoma, sans-serif;
  --base-font2: 'Pridi', 'Times New Roman', serif;

  --grey-light: #fefefe;
  --grey-dark: #525252;
  --grey: #696969;


  --font-color-light: #fefefe;

}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Light.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: 'Pridi';
  src: url(../fonts/Pridi-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Pridi';
  src: url(../fonts/Pridi-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Pridi';
  src: url(../fonts/Pridi-Light.ttf);
  font-weight: lighter;
}

html, body {
  margin: 0;
}

body {
  font-family: var(--base-font);
  font-size: 100%; /*die mir der Browser oder Mobile vorschlägt*/
  background: orange;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

html * {
  box-sizing: border-box; /* "*" heißt für alle Elemente innerhalb html*/
}

header {
  position: relative;
  width: 100%;
  height: 45vw;
  background: lightgreen;
  overflow: hidden;
}

header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; /*zentriert das Bild und schneidet es ab*/
  display: block; /*wenn man verhindern will, dass .inner-wrapper ein paar px verschoben ist*/
}

header .inner-wrapper,
footer .inner-wrapper {
  position: relative;
  max-width: var(--screen-max); /*Verwendung variable*/
  margin: 0 auto;
  /*background: red;*/
}

header h1 {
  position: absolute; /*absolut hat keine Höhe und Breite, deswegen würde text-align: center; nicht funktionieren*/
  left: 0;
  bottom: 0;
  /*background: green;*/
  width: 100%;
}

main {
  background: lightgrey;
  flex: 1;
}

footer {
  background: var(--grey-dark);
}

footer a {
  font-family: var(--base-font2);
  color: var(--grey-light);
  text-decoration: none;
  text-transform: uppercase;
}

footer ul {
  list-style-type: none; /*oder nur list-style*/
  margin: 0px;
  padding: 0px;
}

footer li {
  padding: 5px 0px;
}

footer .footer-top {
}

footer .footer-left {
  /*background: purple;*/
}

footer .footer-right {
  /*background: coral;*/
}

footer .footer-bottom {
  /*background: grey;*/
  font-size: 75%;
  color: var(--grey);
  margin-top: 20px;
  padding-bottom: 20px;
}


@media screen and (min-width: 480px) {

}


@media screen and (min-width: 576px) {

  footer .footer-top {
    display: flex;
  }

  footer .footer-left,
  footer .footer-right {
    flex: 1;

  }

  footer .footer-right {
    text-align: right;
  }

  footer .footer-bottom {
    display: flex;

  }

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}
