section.content-element {
  display: block;
  /*background: purple;*/
  position: relative;
  margin-top: 50px;
}

.content-element header h2{
  font-family: var(--base-font2);
  font-weight: lighter;
  color: var(--grey-dark);
  font-size: 2rem; /*auch mit vw möglich*/
  text-transform: uppercase;
  /*hyphens: auto; hyphens = Silbentrennung, funktioniert derzeit nur im FF (nicht im Chrome)*/
  word-break: break-word; /*bricht bei Wort um*/
}

.content-element .teaser {
  position: relative;
  min-height: 25vw;
  padding-top: 30px;
}

.content-element .pic-one {
  background:
    linear-gradient(rgba(255,140,0,0.5), rgba(255,140,0,0.5)),
    url(../img/example-content-image.jpg) center top no-repeat;
  background-size: cover;
}


/*.content-element .teaser::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,125,0,0.5);
}*/

.content-element .teaser p {
  position: relative;
  z-index: 10;
  color: var(--grey-light);
}

.content-element .content-text p {
  color: var(--grey-dark);
}

.content-element .content-text img {
  width: 40%;
}




.content-element a.button {
  display: inline-block;
  padding: 1em 2em;
  text-decoration: none;
  color: var(--grey-light);
  font-weight: bold;
  background-color: rgb(255,140,0);
}

.content-element a:hover {
  opacity: .6;
}

.content-element .pic-two {
  background: url(../img/example-content-image-2.jpg) center top no-repeat;
  background-size: cover;
}

.content-element .content-text p.p-center {
  margin: 30px auto;
}

.content-element .content-text a.brillux {
  margin: auto;
  background-color: #14b4e4;
  display: table;
}

.content-element .pic-three {
  background-color: #066150;
  min-height: 15vw;
}

.content-element .pic-four {
  background:
    linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),
    url(../img/example-content-image-3.jpg) center top no-repeat;
  background-size: cover;

}

.content-element .pic-five {
  background:
    linear-gradient(rgba(115,109,109,0.5), rgba(115,109,109,0.5)),
    url(../img/example-content-image-2.jpg) center top no-repeat;
  background-size: cover;

}

.content-element .pic-six {
  background-color: orange;
  min-height: 15vw;
}

.content-element .content-text a.mail {
  text-decoration: none;
  color: var(--grey-dark);
}


section.spalten {
  display: flex;
}

section.spalten .drei-spaltenlayout {
  flex: 1;
  width: 33%;
  text-align: center;
}

section.spalten .drei-spaltenlayout img.spalten-overlay {
  max-width: 100%;
  max-height: 100%;
}


div.formular {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 400px;
  background: var(--grey-dark);
  margin-bottom: 20px;
}

label {
  color: var(--grey-light);
  display: block;
  padding-bottom: 5px;
}

div.formular #name,
div.formular #firma,
div.formular #email,
div.formular #betreff,
div.formular #notes,
div.formular #submit {
  width: 100%;
  padding: 5px 0px;
}

div.formular #submit {
  top: 300px;
  background-color: orange;
  border: none;
  height: 35px;
  color: white;
  font-weight: bold;
}


input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
color: lightgrey;
font-family: var(--base-font);
}






@media screen and (min-width: 576px) {

  .content-element header h2 {
    font-size: 3rem;
  }


  .content-element .teaser p {
    max-width: 50%;
  }

  .content-element .content-text p {
    max-width: 60%;
  }

  label {
    display: inline;
  }


  div.formular #name,
  div.formular #firma,
  div.formular #email,
  div.formular #betreff,
  div.formular #notes,
  div.formular #submit {
    position: absolute;
    left: 30%;
    width: 380px;
      padding: 0px;
  }
}

div.formular #notes {
  resize: none;
}

@media screen and (max-width: 1250px) {
  header#main-header h1,
  .content-element > header,
  .content-element .teaser .inner-wrapper,
  .content-element .content-text,
  div.formular {
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);
  }
}

@media screen and (min-width: 1200px) {
  .content-element .teaser {
    min-height: none;
    max-height: 40rem;
  }
}
