body {
  font-size: 24px;
  line-height: 1.5em;
}

/* eineinhalbfache Zeilenhöhe */

h1 {
  font-size: 48px;
  font-family: "Segoe UI", Times, Arial, Tahoma, Verdana, sans-serif;
}

/* wenn Browser die Schrift nicht kennt, nimmt er die nächste - als fallback */
/*Schriften mit zwei Wörtern in Anführungszeichen setzen*/
/*Schriften nicht extern als Link von fonts.google.com einbinden aufgrund DSGVO,
sichere Alternative: ausgesuchte Font runterladen, man erhält zip file, selbst hosten*/

h1.highlight {
  font-size: 75px !important;
}

/* h1.highlight nur für h1 mit dieser Klasse oder .highlight für alle Elemente mit dieser Klasse */
/* !important überschreibt alle anderen Formatierungen - "Brechstange" */

#myID {
  border: 6px solid orange;
}

.multiline {
  background: rgb(125,48,255);
  background: rgba(125,48,255,0.5);
  color: #33ff88;
  border-bottom: 3px dashed #000;
}

/*  man kann zwei gleiche Formatierungen untereinander schreiben, Browser greift
auf das zweite zu (außer das zweite wird im Browser nicht supported)

grid:
  -ms-grid: für den Internet-Explorer mit Präfix */

.meinrechteck {
  width: 300px;
  height: 150px;
  background: brown;
  position: fixed; /*absolute, sticky, static, ...*/
  top: 10px;
  right: 10px;
}

.meinrechteck2 {
  width: 200px;
  height: 80px;
  background: black;
  position: absolute;
  top: 20px;
  right: 20px;
}

.meinrechteck3 {
  width: 100px;
  height: 50px;
  background: green;
  position: absolute;
  top: 50px;
  right: 80px;
}

.meinrechteck:after {
  content: 'huhu!';
  display: block;
  color: white;
  padding: 20px;
  background: blue;
}

ul.horizontal {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
}

ul.horizontal li {
  display: inline-block;
  background: rgba(255,0,0,0.5);
}

/*inline-block zählt ein Leerzeichen bei enter; man kann auch mit display: block
und float: left gelöst werden */
