:root {

  --basefont: 'Montserrat', Tahoma, sans-serif;

}

/*icomoon*/
@font-face {
  font-family: 'icomoon';
  src:  url('Fonts/icomoon/fonts/icomoon.eot?gn4kle');
  src:  url('Fonts/icomoon/fonts/icomoon.eot?gn4kle#iefix') format('embedded-opentype'),
    url('Fonts/icomoon/fonts/icomoon.ttf?gn4kle') format('truetype'),
    url('Fonts/icomoon/fonts/icomoon.woff?gn4kle') format('woff'),
    url('Fonts/icomoon/fonts/icomoon.svg?gn4kle#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e953";
}
.icon-eye:before {
  content: "\e9ce";
  font-size: 50px;
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}


@font-face {
  font-family: 'Montserrat';
  src: url(Fonts/Montserrat/Montserrat-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(Fonts/Montserrat/Montserrat-Bold.ttf);
  font-weight: bold;
}

html, body {
  margin: 0px;
  padding: 0px;
  font-family: var(--basefont);
}

.innerwrapper {
  width: 60vw;
  margin: auto;
}

/*header*/

header img#logo {

}

header nav#menu {
  float: right;
}

header nav#menu ul{
  margin: 0px;
}

header nav#menu li {
  float: left;
  list-style: none;
  padding: 5px 10px;
}

header nav#menu li a {
  text-decoration: none;
  color: black;
  font-family: 'Montserrat';
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

header nav#menu li:hover a {
  color: #ca0808;
}

/*Slider*/
div.slider,
div.grid-content {
  margin-bottom: 4vw;
}

div.slider img.sliderpic {
  display: block;
  position: relative;
  width: 100%;
}

div.slider div.description {
  position: absolute;
  top: 15vw;
  left: 20vw;
  max-width: 430px;
  color: white;
}

/*California Flag*/

div.slider div.california-flag {
  position: absolute;
  left: 40vw;
  display: flex;
  transform: translateY(-60px);
}

div.slider div.california-flag h3 {
  float: left;
  background: url('screendesign_v1-assets/overlay-bg.png') no-repeat;
  padding: 10px 30px;
  background-size: auto;
  font-size: 100%;
  width: 330px;
}

div.slider div.california-flag img {
  position: relative;
  left: -1vw;
}



/*Grid-Content*/


div.grid-content div#header-item {
  grid-area: header;
}
div.grid-content div#teaser1 {
  grid-area: teaser-one;
}
div.grid-content div#teaser2 {
  grid-area: teaser-two;
}
div.grid-content div#teaser3 {
  grid-area: teaser-three;
}


div.grid-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
  'header header header'
  'teaser-one teaser-two teaser-three';
}

div.grid-content > div {
  text-align: center;
}

div.grid-content img {
  width: 100%;
}

div.grid-content a.description-link {
  color: #ca0808;
}

/*Grid-Bilder*/

section.image-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.grid-item {
  position: relative;
  font-family: 'icomoon';
  color: white;
  text-align: center;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.grid-item hr {
  width: 50%;
}

.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,0,0,0.5);
  opacity: 0;
  transition: opacity 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.grid-item:hover .grid-overlay {
  opacity: 1;
}



@media screen and (min-width: 480px) {
  section.image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media screen and (min-width: 960px) {
  section.image-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*footer*/

footer {
  color: white;
  background: #4c4c4c;
  height: 18vw;
}

footer div.footer-top p {
  display: inline-block;
}

footer div.footer-top p.address {
  clear: both;
  display: block;
}


footer div.footer-top ul#footer {
  float: right;
}

footer div.footer-top ul#footer li {
  text-align: right;
  list-style: none;
}

footer div.footer-top ul#footer li a {
  color: white;
}

footer div.footer-top p a,
footer div.footer-bottom div#social-media a {
  color: white;
  text-decoration: none;
}

footer div.footer-bottom {
  padding: 15px 0px 30px 0px;
  background: #2b2b2b;
}

footer div.footer-bottom p {
  display: inline-block;
  margin: 0px;
}


footer div.footer-bottom div#social-media {
  float: right;
}
